/*------------------------------------*\
    FORM
\*------------------------------------*/

form {
    background-color:#ffffff;
    width:460px;
    height:460px;
    padding:92px 84px 31px 84px;
}

/*------------------------------------*\
    FONT
\*------------------------------------*/

.label label,
.field .block,
.field .placeholder.like-placeholder,
.field .list,
.choose .list,
.button span,
.info p { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
}

/*------------------------------------*\
    CONTAINER OFFSET
\*------------------------------------*/

/* [ label|input group offset ] */
[data-editable="custom"] {
    padding:8px 8px;
}

/*------------------------------------*\
    LABEL
\*------------------------------------*/

.label label { 
    font-size:18px;
    font-weight:bold;
    color:#373737;
    line-height:1.5;
}

/*------------------------------------*\
    BORDER - input, select list, select placeholder
\*------------------------------------*/

/* Only border|border-radius */ 
.field .border {
    border:2px solid #a3a3a3;
    border-radius:3px;
}

/*------------------------------------*\
    INPUT/PLACEHOLDER
\*------------------------------------*/

/* [ Input|select placeholder ] */
.field .block {
    font-size:21px;
    font-weight:normal;
    color:#262626;
    background-color:#fff;
}

/* [ Input|select|textarea padding ] */
.field .padding {
    padding-left:14px;
    padding-right:14px;
    padding-top:9px;
    padding-bottom:9px;
}

.label-position-left .label,
.label-position-right .label {
    padding-top: 9px; /* Only padding-top */
}

/* [ Nativ placeholder ] */
.field .placeholder.like-placeholder { 
    font-size:21px;
    font-weight:normal;
    color:#555;
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size:21px;
    font-weight:normal;
    color:#555;
}

input:-moz-placeholder, 
textarea:-moz-placeholder { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size:21px;
    font-weight:normal;
    color:#555;
}

input::-moz-placeholder, 
textarea::-moz-placeholder { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size:21px;
    font-weight:normal;
    color:#555;
}

input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size:21px;
    font-weight:normal;
    color:#555;
}

/*------------------------------------*\
    DROPDOWN SELECT LIST
\*------------------------------------*/

/* [ List block - that same padding like .field .padding ] */
.list-item label {
    padding-left:14px;
    padding-right:14px;
}

/* [ Drop List::select|phone ] */
.field .list {
    font-size:21px;
    font-weight:normal;
    line-height:1.4;
    color:#262626;
    background-color:#fff;
}

/* [ Drop list text background::select|phone ] */
.field .list .list-item .item-label {}

/* [ Hover text background|color - :hover and .hover add two times -> editor required] */
.field .list .list-item:hover .item-label {
    color:#00afec;
}

.field .list .list-item .item-label.hover {
    color:#00afec;
}
 
/* [ Selected text background|color ] */
.field .list-item .item-label.selected,
.field .list-item input:checked + .item-label {
    color:#00afec;
}

/*------------------------------------*\
    RADIO/CHECKBOX
\*------------------------------------*/

/* [ Radio|Checkbox text style ] */
.choose .list {
    font-size:21px;
    font-weight:normal;
    color:#262626;
    line-height:1.4;
}

/* [ Item background - background on text in <li> ] */
.choose .list .list-item .item-label {}

/* :hover and .hover add two times -> editor required */
.choose .list .list-item:hover .item-label {
    color:#00afec;
}

.choose .list .list-item .item-label.hover {
    color:#00afec;
}

/* [ Selected ] */
.choose .list-item .item-label.selected,
.choose .list-item input:checked + .item-label {
    color:#00afec;
}

/*------------------------------------*\
    BUTTON
\*------------------------------------*/

.button {    
    height:48px;
    border-radius:25px;
    background-color:#46b234;
}

.button span { 
    font-size: 21px;
    font-weight:bold;
    color:#fff;
}

/* :hover and .hover add two times -> editor required */
.button:hover {
    background-color: #52ce3d;
}

.button.hover {
    background-color: #52ce3d;
}

/*------------------------------------*\
    FIELD ICO
\*------------------------------------*/

.field-icon .field-icon-sign::after {
    padding-right:14px; /* that same padding like .field .padding */
}

.field-icon.select.open .field-icon-sign::after {
    padding-left:14px; /* that same padding like .field .padding */
    padding-right:0; /* clear right because transform rotate */
}

/*------------------------------------*\
    INFORMATION TEXT
\*------------------------------------*/
 
.info p {
    font-size:15px;
    font-weight:normal;
    font-style:italic;
    color:#737373;
    line-height:2;
}